/_blog
/_blog_draft
/_docs

/_srcf/inc/*.ssi.html

/inc/vms.html
/inc/motd.txt
/inc/counts.html
/inc/grouplist.html
/inc/ubuntuversion.html

membershipgraph.png
membershipgraph-hires.svg

.idea/
.venv/
