RewriteEngine on
RewriteBase /minutes/
RewriteRule 031099.html 1999-10-03.html [R=permanent]
RewriteRule 031099.txt 1999-10-03.txt [R=permanent]
RewriteRule 040506.html 2006-05-04.html [R=permanent]
RewriteRule 061100.html 2000-11-06.html [R=permanent]
RewriteRule 061100.txt 2000-11-06.txt [R=permanent]
RewriteRule 100300.html 2000-03-10.html [R=permanent]
RewriteRule 100300.txt 2000-03-10.txt [R=permanent]
RewriteRule 130602.html 2002-06-13.html [R=permanent]
RewriteRule 150109.html 2009-01-15.html [R=permanent]
RewriteRule 151007.html 2007-10-15.html [R=permanent]
RewriteRule 160400.html 2000-04-16.html [R=permanent]
RewriteRule 160400.txt 2000-04-16.txt [R=permanent]
RewriteRule 160508.html 2008-05-16.html [R=permanent]
RewriteRule 170108.html 2008-01-17.html [R=permanent]
RewriteRule 170200.html 2000-02-17.html [R=permanent]
RewriteRule 170200.txt 2000-02-17.txt [R=permanent]
RewriteRule 180100.html 2000-01-18.html [R=permanent]
RewriteRule 180100.txt 2000-01-18.txt [R=permanent]
RewriteRule 180208.html 2008-02-18.html [R=permanent]
RewriteRule 180409.html 2009-04-18.html [R=permanent]
RewriteRule 190302.html 2002-03-19.html [R=permanent]
RewriteRule 191107.html 2007-11-19.html [R=permanent]
RewriteRule 200201.html 2001-02-20.html [R=permanent]
RewriteRule 200201.txt 2001-02-20.txt [R=permanent]
RewriteRule 201006.html 2006-10-20.html [R=permanent]
RewriteRule 220102.html 2002-01-22.html [R=permanent]
RewriteRule 220209.html 2009-02-22.html [R=permanent]
RewriteRule 220403.html 2003-04-22.html [R=permanent]
RewriteRule 240200.html 2000-02-24.html [R=permanent]
RewriteRule 240200.txt 2000-02-24.txt [R=permanent]
RewriteRule 270400.html 2000-04-27.html [R=permanent]
RewriteRule 270400.txt 2000-04-27.txt [R=permanent]
RewriteRule 280405.html 2005-04-28.html [R=permanent]
RewriteRule 290909.html 2009-09-29.html [R=permanent]
RewriteRule 300401.html 2001-04-30.html [R=permanent]
RewriteRule 300908.html 2008-09-30.html [R=permanent]
RewriteRule agm050308.html agm2008-03-05.html [R=permanent]
RewriteRule agm080304chairman-report.pdf agm2004-03-08chairman-report.pdf [R=permanent]
RewriteRule agm080304chairman-report.tex agm2004-03-08chairman-report.tex [R=permanent]
RewriteRule agm080304.html agm2004-03-08.html [R=permanent]
RewriteRule agm080304.txt agm2004-03-08.txt [R=permanent]
RewriteRule agm130303.html agm2003-03-13.html [R=permanent]
RewriteRule agm130303.txt agm2003-03-13.txt [R=permanent]
RewriteRule agm150307.html agm2007-03-15.html [R=permanent]
RewriteRule agm190209-constitution-diff.html agm2009-02-19-constitution-diff.html [R=permanent]
RewriteRule agm190209.html agm2009-02-19.html [R=permanent]
RewriteRule agm200200.html agm2000-02-20.html [R=permanent]
RewriteRule agm200200.txt agm2000-02-20.txt [R=permanent]
RewriteRule egm2013-03-11.html eagm2013-03-11/agenda.html [R=permanent]
