@import url('fonts.css');

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-family: D-DIN, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
  color: #000;
}

.navbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ccc;
}

/* .jumbotron {
  background: url('/images/srcf.jpg') no-repeat center center fixed;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */